.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .home-box {
    background-color: #ebf3f8;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-bottom: 30px;
  }
  
  .home-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #011c3a;
  }
  
  .home-description {
    text-align: justify;
    line-height: 1.6;
    font-size: 1rem;
    color: #333;
  }
  
  .home-signature {
    text-align: right;
    font-style: italic;
    color: #011c3a;
  }
  